/* général */
body{
    width: 100vw;
    background-color: #EDF2FA;
    font-family: 'Merienda', cursive;
}

/* headerStart */
.header{
    background-color: #2B2D42;
    color: #EDF2FA;
}

.userName{
    color: #EF233C;
}

/* mainStart */

/* boutons */
.btnAddList{
    background-color: #2B2D42;
    background-image: url(../img/);
    color: #EDF2FA;
    border: none;
    font-size: 1.5rem;
}

.btnAddList:active{
    transform: translateY(2px);
}

.btnAddElement{
    background-color: #2B2D42;
    background-image: url(../img/);
    color: #EDF2FA;
    border: none;
    font-size: 1.5rem;
}

.btnAddElement:active{
    transform: translateY(2px);
}
/* card */

.card-header{
    background-color: #2B2D42;
}

.listTitle{
    color: #EDF2FA;
}

.card-body{
 background-color: #8d99ae;
 color: #EDF2FA;
}

/* footerStart */
.footer{
    background-color: #2B2D42;
    position: absolute;
    bottom: 0;
    color: #EDF2FA;
    width: 100%;
}
